<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="vendor/d3.v4.min.js"></script>
  <style>
    
    body {
        font-family: "Helvetica Neue", Arial;
        font-weight: 100;
        font-size: 50px;
    }

    a {
      text-decoration: none; 
      color: #000;
    }

  </style>
</head>

<body>
  <center>
  <div>This site is designed for chrome</div>
  <div> <a href='/stuff'></a> </div>
  <div> <a id='click' href='/stuff' style='opacity: 0;'>click here!</a> </div>
  </center>

    <script>
     var i = 0;
     d3.timeout(function() {
      d3.select("a").text("whatever")
      d3.interval(function() {
        if(i % 2 == 0) {
          d3.select("a").style("color", "red")
        } else {
          d3.select("a").style("color", "#000")
        }
        i += 1;
      }, 100)
     }, 2000)

     var j = 0
    d3.timeout(function() {
      d3.select("#click").style("opacity", 1)
      d3.interval(function() {
        if(j % 2 == 0) {
          d3.select("#click").style("color", "green")
        } else {
          d3.select("#click").style("color", "#000")
        }
        j += 1;
      }, 100)
     }, 4000)

    </script>
</body>