<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="vendor/d3.v4.min.js"></script>
  <style>
    
    body {
        background: #2B1F28 !important;
        font-family: "Helvetica Neue", Arial;
        font-weight: 100;
        font-size: 50px;
    }
    
    #chart {
      text-align: center;
    }
    
    svg {
      overflow: visible;
    }

  </style>
</head>

<body>

  <div id="chart"> </div>
  <script>
  
  var margin = {top: 1, right: 1, bottom: 1, left: 1}
    , width = window.innerWidth - margin.left - margin.right
    , height = window.innerHeight*5 - margin.top - margin.bottom
    , rows = 8
    , groups = 3
    , groupWidth = width/groups
    , groupHeight = height/rows
    , groupCoord = {x: groupWidth/2, y:groupHeight/2}
    , n = 4

  var y = d3.scaleLinear()
      .range([height, 0])
      .domain([0,rows-1])

  var x = d3.scaleLinear()
      .range([0, width])
      .domain([0,groups])

  var colorScale = d3.scaleOrdinal()
      .range(["#BB2233","#7f2c39", "#dd4237","#2B1F28"])

  var firstWords = ["paul","small","tall","dr"],
      lastWords = ["buffa", "stuffa", "ruffa", "gruffa"];

  var svg = d3.select("#chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var triangleRows = svg.selectAll(".triangle-rows")
      .data(d3.range(rows).map(Object))
    .enter().append("g")
      .attr("class", "triangle-rows")
      .attr("transform",function(d,i) { return "translate(0," + y(i) + ")" })

  var triangleGroups = triangleRows.selectAll(".triangle-groups")
      .data(d3.range(groups).map(Object))
    .enter().append("g")
      .attr("class", "triangle-groups")
      .attr("transform",function(d,i) { return "translate(" + (x(i) + groupCoord.x) + "," + groupCoord.y +")" })

  var triangles = triangleGroups.selectAll(".triangle")
      .data(d3.range(n).map(Object))
    .enter().append("path")
      .attr("class", "triangle")
      .attr("d", "M 0 " + (-groupHeight/3) + " L " + (-groupWidth/3) + " " + (groupHeight/3) + "L " + (groupWidth/3) + " " + (groupHeight/3) + " Z")
      .style("stroke",function(d,i) { return colorScale(i); })
      .style("fill",function(d,i) { return colorScale(i); })
      .on("mouseenter", function() {
         d3.select(this)
         .transition()
         .duration(3000)
         .attr("transform", function() { return "scale(3) translate(" + width*Math.random() + "," + height*Math.random() + ")" })
         .style("stroke-dasharray", "2, 3, 4, 5, 6")
 
      })
      .filter(function(d, i) { return i == n-1})
      .style("stroke-width", 3)


  d3.interval(function(elapsed) {

    console.log("yes")
    d3.selectAll(".triangle-groups")
      .selectAll(".triangle")
      .transition()
      .delay(function(d, i) { return i*200 })
      .duration(1000)
      .attrTween("transform", function(d, i) {
        return d3.interpolateString("scale(1) rotate(0,0,0)", "scale(" + 1/(i+1)  + ") rotate(360,0,0)")
      })  
      .on("end", function() {
        d3.select(this)
          .transition()
          .duration(1200)
          .attrTween("transform", function(d, i) {
            return d3.interpolateString("scale(" + 1/(i+1)  + ") rotate(0,0,0)", "scale(1) rotate(360,0,0)")
          })
    })


  }, 5000)




  var firstWord = svg.append("text")
      .attr("class", "firstWord")
      .attr("y", 100)
      .attr("x", 100)
      .style("text-anchor", "end")
      .text(firstWords[Math.floor(Math.random()*4)])

  var lastWord = svg.append("text")
      .attr("class", "lastWord")
      .attr("y", 100)
      .attr("x", 102)
      .style("text-anchor", "start")
      .text(lastWords[Math.floor(Math.random()*4)])

  d3.interval(function(elapsed) {

    firstWord.transition()
      .duration(1000)
      .attr("y", -100)
      .style("opacity", 0)
      .transition()
      .duration(100)
      .attr("y", 100)
      .text(firstWords[Math.floor(Math.random()*4)])
      .transition()
      .duration(1000)
      .style("opacity", 1);
    
    }, 4000);

  d3.timeout(function() {
    d3.interval(function(elapsed) {

      lastWord.transition()
        .duration(1000)
        .attr("y", height+100)
        .style("opacity", 0)
        .transition()
        .duration(100)
        .attr("y", 100)
        .text(lastWords[Math.floor(Math.random()*4)])
        .transition()
        .duration(1000)
        .style("opacity", 1);
      
      }, 4000)
  }, 2000);


  </script>
</body>